<h1>Cocktails#new</h1>

<%= simple_form_for [@cocktail] do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit, class: "bt btn-primary" %>
<% end %>

<h3><%= link_to "Return to home", root_path %><h3>
<p>Find me in app/views/cocktails/new.html.erb</p>
