<div class="container d-flex flex-column justify-content-center">
  <h1 class="text-center">Create a new cocktail</h1>
  <div class="d-flex justify-content-center">
    <%= simple_form_for [@cocktail] do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <div class="create-button">
        <%= f.button :submit, class: "bt btn-primary grow" %>
      </div>
    <% end %>
  </div>
  <div class="return-home">
    <%= link_to root_path, :action => 'go' do %>
      <div class="text-center grow add-new-button">
        <i class="fas fa-arrow-left fa-2x"></i>
        <h3 class="add-new-text">Return to home</h3>
      </div>
    <% end %>
  </div>
  <!--<p>Find me in app/views/cocktails/new.html.erb</p>-->
</div>