<div class="container flex m-100">
  <div class="row">
    <div class="col">
      <%if @cocktail.photo.attached?%> 
          <%= cl_image_tag @cocktail.photo.key, height: 400, width: 400, crop: :fill, :class => "pic-margin" %>
      <% else %>
          <%= cl_image_tag "https://res.cloudinary.com/tom-horan/image/upload/v1608383833/l7lcs5zp318e5q63zl8ncl4kj6bf.jpg", height: 400, width: 400, crop: :fill, :class => "pic-margin" %>
      <%end%>
    </div>
    <div class="col">
      <div class="row justify-content-center">
        <h1>"<%= @cocktail.name %>"</h1>
      </div>
      <div class="row justify-content-between align-items-end margin-button">
        <%= link_to new_cocktail_dose_path(@cocktail), :action => 'go' do %>
          <div class="text-center grow button-spacing">
            <i class="fas fa-plus fa-2x"></i>
            <h3 class="add-new-text">Add a dose</h3>
          </div>
        <% end %>
        <%= link_to root_path, :action => 'go' do %>
          <div class="text-center grow button-spacing">
            <i class="fas fa-arrow-left fa-2x"></i>
            <h3 class="add-new-text">Return to home</h3>
          </div>
        <% end %>
      </div>
      <div class="row">
        <% @cocktail.doses.each do |dose| %>
          <div class="dose-list">
            <h3 class="d-inline"><%= dose.description %>: <%= dose.ingredient.name%></h3>
            <%= link_to raw('<i class="fas fa-trash grow"></i>'), dose_path(dose), 
            method: :delete, 
            data: { confirm: "Are you sure?" } %>
          </div>
        <% end %>
      </div> 
    </div>
  </div>
</div>



