<div class="container">
  <h1>Doses#new</h1>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description%>
    <%= f.association :ingredient%>
    <%= f.button :submit, class: "bt btn-primary" %>
  <% end %>

  <%= link_to root_path, :action => 'go' do %>
    <div class="text-center grow add-new-button">
      <i class="fas fa-arrow-left fa-2x"></i>
      <h3 class="add-new-text">Return to home</h3>
    </div>
  <% end %>
  <!--<p>Find me in app/views/doses/new.html.erb</p>-->
</div>