<h1>Doses#new</h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description%>
  <%= f.association :ingredient%>
  <%= f.button :submit, class: "bt btn-primary" %>
<% end %>

<h3><%= link_to "Return to home", root_path %><h3>
<p>Find me in app/views/doses/new.html.erb</p>
